#menu{
    background-color:#000;
    color:#FFF;
    background-size:cover;
    width:100%;		
    }
.test{
    float:left;
    margin-left:50px;
    margin-right:100px;
    margin-top:11px;
    }
#menu ul li{
    display:inline-block;
    margin-top:16px;
    margin-bottom:17px;
    }
#menu ul li a{
    padding:45px;
    text-decoration: none;
    color:#CCC;
    }
#menu ul li a:hover{
    color:#FFF;
    text-decoration: none;
    }
.denglu{
    float: right;
}
#location{
    width: 1600px;
    height: 40px;
    margin:10px auto; 
}#big{
    width: 1600px;
    border:solid 1px #C1C1C1;
    margin:auto;
    overflow: hidden;
}
#big img{
    
    margin-bottom: 40px;
}
#big p{
    text-indent: 2em;
    line-height: 30px;
}
#user{
    width: 1600px;
    height: 150px;
    border:solid 1px #C1C1C1;
    margin:auto;
    margin-top: -45px;
}
.two{
    padding-top:10px; 
    display: block;
    float: left;
}
#user p{
    display: inline-block;
    line-height: 25px;
    margin-top: 60px;
}
.three{
    float: right;
    margin: 20px;
}
.six{
    float: left;
}
#center1{
    width: 1600px;
    height: 500px;
    border:solid 1px #C1C1C1;
    margin:auto;
}
h2{
    margin-top: 60px;
    text-align: center;
    
}
#tiji{
    width: 1500px;
    height: 300px;
    margin:auto;
}
.tj1{
    font-size: 25px;
    font-weight: bold;
}
.tj2{
    font-size: 21px;
}
#center2{
    width: 1600px;
    height: 400px;
    border:solid 1px #C1C1C1;
    margin:auto;
}
#plan{
    width: 1500px;
    height: 700px;
    margin:auto;
}
.plan1{
    font-size: 25px;
    font-weight: bold;
}
.plan2{
    font-size: 21px;
}
#center3{
    width: 1600px;
    height: 150px;
    border:solid 1px #C1C1C1;
    margin:auto;
}
#day{
    width: 1500px;
    height: 100px;
    margin:auto;
}