<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/stylesheets/city.css" rel="stylesheet">

</head>

<body>
    <header id="menu">
        <h2 class="test">寻趣游</h1>
            <ul>
                <li><a href="./">首页</a></li>
                <li><a href="./pointplace">目的地</a></li>
                <li><a href="./mate">社区</a></li>
                <li class="denglu"><a href="./login">登录</a></li>
                <li class="denglu"><a href="./register">注册</a></li>
            </ul>
    </header>
    <div class="main">
        <section class="top">
            <header>
                <h2>日本</h2>
            </header>
            <img src="/images/japan.jpg">
            <span>日本(Japan)以一种独特的姿态糅合了东方传统与人性化的现代科技。东京银座、涩谷的滚滚人潮，秋叶原的电气二次元世界之外，日本的另一面是富士山下的樱花、温泉、神社，普通社区每个角落的传统文化，用心的日本料理。你可以乘着新干线去唐风的京都、关西风的大阪，也可以去冲绳的海滩，去北海道滑雪。</span>
        </section>
        <section class="rinkinglist">
            <header>
                <h3>必游景点排行</h3>
            </header>
            <figure><img src="/images/tokyo tower.jpg" alt="东京塔" />
                <figcaption>东京塔</figcaption>
            </figure>
            <figure><img src="/images/富士山.jpg" alt="富士山" />
                <figcaption>富士山</figcaption>
            </figure>
            <figure><img src="/images/浅草寺.jpg" alt="浅草寺" />
                <figcaption>浅草寺</figcaption>
            </figure>

        </section>
        <section class="travelmate">
            <header>
                <h3>自由行攻略</h3>
            </header>
            <figure><img src="/images/九州.jpg" alt="日本九州" />
                <figcaption><a href="#">日本九州三日游</a></figcaption>
            </figure>
            <figure><img src="/images//tokyo tower.jpg" alt="东京塔" />
                <figcaption><a href="#">东瀛记（穷游12天花费5000元）</a></figcaption>
            </figure>
            <figure><img src="/images/japan.jpg" alt="富士山冬天" />
                <figcaption><a href="#">听雪落下的声音 | 冬日富士山物语</a></figcaption>
            </figure>
            <figure><img src="/images/大阪.jpg" alt="大阪" />
                <figcaption><a href="#">3天玩转大阪</a></figcaption>
            </figure>
            <figure><img src="/images/日本传统.jpg" alt="雪乡" />
                <figcaption><a href="#">日本也有一个名为東北的雪の鄉</a></figcaption>
            </figure>
            <figure><img src="/images/富士山.jpg" alt="北海道冬天" />
                <figcaption><a href="#">北海道的冬天，浪漫与幻想交织在雪景里</a></figcaption>
            </figure>

        </section>
    </div>
            <footer>     
                    <div class="logo"><span class="C-logo">寻趣游</span><br/><span class="E-logo">FUNNY-TRAVEL</span></div>
                    <span class="from">@寻趣游旅游网站版权所有</span>
                    <span></span>
                    <div class="right"><img src="/images/tel-footer.png"> <img src="/images/message-footer.png" ><img src="/images/email-footer.png" ></div>
            </footer>
    
</body>

</html>